body {
  font-family: Arial, sans-serif;
  background-color: #CDCDCD;
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  margin-top: 50px;
}

h1 {
  color: #23238E;
}

p {
  color: #4D4DFF;
}

.contador {
  font-size: 36px;
  color: #CC0000;
  margin-top: 20px;
}